body {
	background-color: #003cff54;
	font-family: 'Lalezar', cursive;
	font-family: 'Orelega One', cursive;
	color:white;
}

@media screen and (max-width:660px){
	body{
		background-color:lightblue;
	}
	div.example{
		display:none;
	}
}

@media print {
	*{
		background: transparent !important;
		border-color: black !important;
		box-shadow: none !important;
		color: black !important;
		text-shadow: none !important;
	}	
	
	a {text-decoration: underline !important;}
	
	a[href]::after{
		content: "("attr(href)")";
	}	
}

.tnt {
	border-radius: 50%;
    border: 5px solid red;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    color: red;
}

.counter{
	background-color:#000;
	border-top-left-radius:25px 10px;
	border-top-right-radius:25px 10px;
	color: white;
	display: block;
	font-size: 1.7em;
	height:50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

figure {
	position: relative;
}	

img{
	display: block;
}	

figcaption{
	bottom: 5px;
	margin: 0 5px;
	padding: 5px;
	position: absolute;
	width: 300px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFF;
}	
	
.blue{
	background:linear-gradient(to top, #4377FA, #0537B7);
}	

div{
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5)inset;
	background-color:lightgreen;
	padding:5px;
	width:200px;
	text-align:center;
	font-weight:bold;
}	

h1{
	background-color: #1D9AC0;
	display: inline-block;
	color:#FFF;
	padding:10px;
	font-weight:bold;
	text-shadow:2px 4px 2px rgba(0,0,0,0.5);
}	

span{
	background-color:lightblue;
}	

p{
	background-color:green;
}	

h2{
	float:left;
	margin:0 20px 20px 0;
}
























	
	