body{
	background-color:black;
}
.container{
	width: 800px;
	margin:15px 35px 100px 0;
	border:3px solid rgba(107, 214, 247, 0.815);
	padding: 10px 20px;
	background-color:rgb(31, 29, 32);
	font-family:cursive;
	color:white;
	float:right;
}	

article{
	border:1px dashed rgba(107, 214, 247, 0.815);
	margin-bottom:20px;
	padding:20px;
}

img{
	height:300px;
	width:400px;
	float:left;
	margin: 20px 20px 20px 0;
	border:1px solid rgba(107, 214, 247, 0.815);
	box-shadow: -3px -3px 3px 3px white;
}

p{
	text-align:justify;
	line-height:25px;
	font-size:20px;
}

h1{
	text-align:center;
	font-size:40px;
}
h2{
	text-align:center;
	text-decoration:underline;
	font-size:30px;
}

table{
	margin:0 auto;
	width:800px;
	height: 350px;
	box-shadow:-3px -3px 3px 3px white;
}

th, td{
	text-align:center;
	border:1px dashed rgba(107, 214, 247, 0.815);
	font-size:20px;
}

form{
	margin:0 auto;
	width:760px;
	height:350px;
	box-shadow:-3px -3px 3px 3px white;
	border:1px dashed rgba(107, 214, 247, 0.815);
	padding:20px;
	font-size:20px;
}

input[type=text]{
	width:600px;
	background-color:rgba(255, 255, 255, 0.884);
}

footer {
	margin:50px auto 15px auto;
	width:1270px;
	border:3px solid rgba(107, 214, 247, 0.815);
	padding:15px 0;
	text-align:center;
	line-height:22px;
	color:white;
	font-size:16px;
	background-color:rgb(31, 29, 32);
	clear:both;
}

a{
	color:white;
	text-decoration: none;
	background-color:rgba(107, 214, 247, 0.815);
	border-radius: 10px;
	padding:3px 5px;
}

a:hover{
	background-color:rgba(15, 113, 143, 0.815);
}

.notas{
	border:3px solid rgba(107, 214, 247, 0.815);
	height:3015.94px;
	padding:0 20px;
	margin:15px 35px 100px 35px;
	background-color:rgb(31, 29, 32);
	color:white;
	font-size:18px;
	font-family:cursive;
	float:left;
	line-height:50px;
}

h3{
	text-decoration:underline;
}